{% extends 'base.html' %}
{% block title %} GoEn {% endblock %}
{% block content %}
{% load static %}
{% load custom_filters %}

<div class="container">
    <div class="grid-container-home">
        <div class="grid-item-home">
            <h2>Learn English by short Stories</h2>
            <h1>WELCOME TO GOEN</h1>
            <h2>Today {{amount}} words to learn </h2>
        </div>
        <div class="grid-item-home">
            {% if request.user.is_authenticated %}
            <a href="/listOfStories/">
                <button class="button-custom">Watch all stories</button>
            </a>
            <a href="/showMyWords/">
                <button class="button-custom">Watch my words</button>
            </a>
            <a href="/learningWords/">
                <button class="button-custom">Go to Learn</button>
            </a>
            {% else %}
            <a href="/login/">
                <button class="button-custom">Go to Learn</button>
            </a>
            {% endif %}
        </div>
    </div>

    <h2 class="center-text">RANKING</h2>

    <table class="table-home">
        <tr class="table-home-tr">
            <th class="table-home-th">
                Username
            </th>
            <th class="table-home-th">
                Points
            </th>
            <th class="table-home-th">
                Learning words
            </th>
            <th class="table-home-th">
                Learned words
            </th>
        </tr>
        {% for user in users%}
        <tr>
            <td class="table-home-td">
                {{user}}
            </td>
            <td class="table-home-td">
                {{ranking_list|get_points:user}}
            </td>
            <td class="table-home-td">
                {{ranking_list|get_amount_learning_words:user}}
            </td>
            <td class="table-home-td">
                {{ranking_list|get_amount_learned_words:user}}
            </td>
            {% endfor %}
        </tr>

    </table>
</div>

{% endblock %}
