{% extends 'base.html' %}
{% block title %} Learning Words {% endblock %}
{% load custom_filters %}
{% block content %}
<div class="container">
    <div class="grid-container-learning">
        <div class="grid-item-learning">
            <h3>{{ dict_vars.amount_words_today }} words left</h3>
        </div>
        <div class="grid-item-learning">
            <h1>{{ word.word_translate }}</h1>
        </div>
        <div class="grid-item-learning">
            <div class="progress-bar">
                <div class="progress-value" style="width: {{dict_vars.progress|multiply:14.2857142}}%;"></div>
            </div>
        </div>

        <form class="form-login" method="post" autocomplete="off">
            {% csrf_token %}
            <div class="u-form-group u-form-name">
                {{ answerForm.as_p }}
            </div>
            <input class="button-custom small"  type="submit" value="Check">
        </form>

        <div class="grid-item-learning">
            <h2>{{ dict_vars.answer }}</h2>
        </div>
        <div class="grid-item-learning">
            <h2 style="color:{{dict_vars.out_color}};">{{ dict_vars.out }}</h2>
        </div>
        <div class="grid-item-learning" style="display:{{dict_vars.display_btn_next}};">
            <a href="/learningWords" accesskey="\" style="display:{{dict_vars.display_btn_next}};">
                <button class="button-custom small">NEXT</button>
            </a>
        </div>
        <div class="grid-item-learning">

            <form class="button-custom see-translate" method="post">
                {% csrf_token %}
                <button class="button-custom see-translate"
                        name="seeTranslate" value="seeTranslate">SEE
                    TRANSLATE
                </button>

            </form>
        </div>
        <div class="grid-item-learning">
            <p class="sentence-text">{{ word.word_description }}</p>
        </div>
    </div>

</div>
{% endblock %}