{% extends 'base.html' %}
{% block title %} List of Books {% endblock %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/listOfBooks.css' %}" media="screen"> {% endblock %}
{% block content %}

<section class="u-clearfix u-custom-color-1 u-section-1" id="sec-43ec">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                {% for item in books %}
                <div class="u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-container-layout-1">
                        <a href="/showStory/{{item.pk}}">
                        <img class="u-expanded-width u-image u-image-default u-image-1" data-image-width="2000"
                             data-image-height="1333"
                             src="{{item.cover.url}}">
                        <h3 class="u-text u-text-default u-text-1">{{ item.name }}</h3>
                        </a>

                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
    </div>
</section>

{% endblock %}