{% extends 'base.html' %}
{% block title %} List of Stories {% endblock %}
{% block content %}

<div class="container">
    <h1 class="center-text">LIST OF STORIES</h1>
    <div class="grid-container-stories">
        {% for item in stories %}
        <div class="grid-item-stories">
            <a class="link" href="/showStory/{{item.pk}}">
                <img class="img-story" src="{{item.cover.url}}">
                <p class="storyname">{{ item.name }}</p></a>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}