{% extends 'base.html' %}
{% block title %} Show My Words {% endblock %}
{% block content %}
{% load custom_filters %}

<div class="container">

    <h2 class="center-text">MY WORDS</h2>

    <table class="table-home">
        <tr class="table-home-tr">
            <th class="table-home-th">
                Word
            </th>
            <th class="table-home-th">
                Translate
            </th>
            <th class="table-home-th">
                Next learn date
            </th>
            <th class="table-home-th">
                Progress
            </th>
        </tr>
        {% for item in words%}
        <tr>
            <td class="table-home-td">
                {{ item.learn_word.word_original}}
            </td>
            <td class="table-home-td">
                {{ item.learn_word.word_translate}}
            </td>
            <td class="table-home-td">
                {{item.next_day_learn}}
            </td>
            <td class="table-home-td">
                <div class="progress-bar table">
                    <div class="progress-value table" style="width: {{item.progress|multiply:14.2857142}}%;"></div>
                </div>
            </td>

        </tr>
        {% endfor %}
        </table>
</div>
        {% endblock %}