{% extends 'base.html' %}
{% block title %} Show Story {% endblock %}
{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script type="text/javascript">
$(document).ready(function () {

    if (localStorage.getItem("my_app_name_here-quote-scroll") != null) {
        $(window).scrollTop(localStorage.getItem("my_app_name_here-quote-scroll"));
    }

    $(window).on("scroll", function() {
        localStorage.setItem("my_app_name_here-quote-scroll", $(window).scrollTop());
    });

  });

</script>
{% endblock %}
{% block content %}

<div class="container">

    <h1>{{name_story}}</h1>
    <h3> Click on word to add</h3>

    <form method="post">
        {% csrf_token %}
        {% for item in story %}
        <p class="show-story">
            {% for word in item.split %}
            <button class="btn-text" name="add" value={{word}}>{{ word }}</button>
            {% endfor %}
        </p>
        {% endfor %}
    </form>

    <h1>Added words to learn</h1>
    <h3>Click on word to delete</h3>

    <p class="show-story">
    <form method="post">
        {% csrf_token %}
        {% for item in words %}
        <button class="btn-text" name="delete" value={{item.pk}}>{{item.learn_word.word_original}} -
            {{item.learn_word.word_translate}}
        </button>
        <br>
        {% endfor %}
    </form>
    </p>
</div>

{% endblock %}