<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen">
    <link rel="icon" href="{% static 'images/logos/logo_goen.png' %}">
    <meta charset="utf-8">
    <title>{% block title %} GoEn {% endblock %}</title>
    {% block head %} {% endblock %}
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        {% if request.user.is_authenticated %}
        <li><a>{{user.username}}</a></li>
        <li><a href="/logout/">Exit</a></li>
        {% else %}
        <li><a href="/login/">Sign In</a></li>
        <li><a href="/register/">Sign Up</a></li>
        {% endif %}
        <li><a href="/about/">About</a></li>
    </ul>
</nav>

{% block content %} {% endblock %}

<footer>
    <p>It's a Pet-project. Please read <a class="link" href="/about/">about</a></p>
</footer>
</body>