<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <title>{% block title %} GoEn {% endblock %}</title>
</head>

<body>
<header class="header">
    <div class="container">
        <div class="header__inner">
            <a href="/">
                <div class="header__logo">GoEn</div>
            </a>
            <nav class="nav">
                {% if request.user.is_authenticated %}
                <a>{{user.username}}</a>
                <a class="nav__link" href="/logout">Exit</a>
                {% else %}
                <a class="nav__link" href="/login">Login</a>
                <a class="nav__link" href="/register">Sign up</a>
                {% endif %}
                <a class="nav__link" href="/about">About</a>
                {% if user.username == 'admin' %}
                <a class="nav__link" href="/uploadBook">Upload Book</a>
                {% endif %}
            </nav>
        </div>
    </div>
</header>
{% block content %} {% endblock %}
</body>
</html>
