{% extends 'base.html' %}
{% block title %} GoEn {% endblock %}
{% block content %}

<section class="u-clearfix u-palette-1-base u-section-1" id="sec-9b5a">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                            <h2 class="u-align-center u-text u-text-default u-text-1"> Learn English by short Stories&nbsp;</h2>
                            <h1 class="u-align-center u-text u-text-default u-text-2"> WELCOME TO GOEN</h1>
                        </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2">
                            <a href="/listOfBooks"
                               class="u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-3-light-2 u-radius-6 u-btn-1">WATCH
                                ALL BOOKS</a>
                            <a href="/showMyWords"
                               class="u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-3-light-2 u-radius-6 u-btn-2">SHOW
                                MY WORDS</a>
                            <a href="/test"
                               class="u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-3-light-2 u-radius-6 u-btn-3">GO
                                TO LEARN</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-752c">
    <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">Пример текста. Кликните, чтобы выбрать элемент
            "Текст".</p>
    </div>
</footer>
<section class="u-backlink u-clearfix u-grey-80">
    <a class="u-link" href="https://nicepage.com/html-templates" target="_blank">
        <span>HTML Website Templates</span>
    </a>
    <p class="u-text">
        <span>created with</span>
    </p>
    <a class="u-link" href="https://nicepage.cloud" target="_blank">
        <span>Best Free Website Builder</span>
    </a>.
</section>
{% endblock %}