{% extends 'base.html' %}
{% block title %} Test {% endblock %}
{% block content %}

<div class="intro">
    <div class="container">
        <div class="intro__inner">

            <h2>{{ amount }} words left</h2>
            <h1>{{ word }}</h1>

            <div class="u-palette-1-base u-shape u-shape-rectangle u-shape-1">
                <p>
                    <progress value="{{ progress }}" max="8"></progress>
                </p>
            </div>


            <form method="post" autocomplete="off">
                {% csrf_token %}
                {{ inputAnswer.as_p }}
                <input class="btn" type="submit" value="Check">



                <a class="btn" accesskey="\" href="/test">Next</a><br><br>
            </form>

            <form method="post">
                {% csrf_token %}
                <button class="btn" accesskey="]" name="seeTranslate" value="seeTranslate">See translate</button>
            </form>

                <h1>{{ answer }}</h1>
                <h1>{{ out }}</h1>
        </div>
    </div>
</div>{% endblock %}