{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block content %}

<div class="intro__showbook">
    <div class="container__showbook">
        <h1> {{name_book}} </h1>
        <h3>Click on word to add</h3>
        <form method="post">
            {% csrf_token %}
            {% for item in book %}
            <p class="p__book">
                {% for word in item.split %}
                    <button class="btn__text" name="add" value={{word}}>{{ word }}</button>
                {% endfor %}
            </p>
            {% endfor %}
        </form>

        <h1> Added words to learn </h1>
        <h3>Click on word to delete</h3>
        <form method="post">
            {% csrf_token %}
            {% for item in words %}
            <button class="btn__text" name="delete" value={{item.pk}}>{{ item.learnWord.wordOriginal}} -
                {{item.learnWord.wordTranslate}}
            </button>
            {% endfor %}
        </form>
        <br>
    </div>
</div>

{% endblock %}
