{% extends 'base.html' %}
{% block title %} Upload Book {% endblock %}
{% block content %}

<div class="intro">
    <div class="container">
        <div class="intro__inner">
            <form method="post" autocomplete="off">
                {% csrf_token %}
                TITLE<br>
                {{ form.name }}<br><br>
                TEXT<br>
                {{ form.wholeText}}<br>
                <input class="btn" type="submit" value="OK">
            </form>
        </div>
    </div>
</div>

{% endblock %}