:root {
    --first: #383d4a;
    --second: #6F727C;
    --third: #5f636e;
    --fourth: #2C303B;
}

/* Default styles for desktop */
body {
    background-color: var(--first);
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: var(--second);
}

footer {
    position: fixed;
    left: center;
    bottom: 0;
    width: 100%;
    background-color: var(--fourth);
    color: var(--second);
    text-align: center;
    margin: 0px;
    height: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.storyname {
    font-size: 30px;
    margin: 0px;
    font-weight: bold;
}

.container {
    max-width: 60%;
    margin: 120px auto 120px;
}

.container-auth {
    max-width: 300px;
    margin: 120px auto 120px;
    justify-content: center;
    display: flex;
}

.grid-container-home {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}

.grid-item-home {
    border: 0px solid black;
    text-align: center;
    display: inherit;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.grid-container-learning {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.grid-item-learning {
    border: 0px solid black;
    text-align: center;
    display: inherit;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.grid-container-stories {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
}

.grid-item-stories {
    border: 0px solid black;
    text-align: center;
    display: inherit;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.img-story {
    height: 200px;
    width: 351px;
    filter: grayscale(70%);
    border-radius: 8px;
    object-fit: cover;
}

.button-custom {
    background-color: var(--third);
    height: 100px;
    width: 400px;
    border-radius: 6px;
    border: 0px solid transparent;
    color: white;
    margin: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.button-custom:active {
    background-color: var(--second);
}

.button-custom:hover {
    background-color: var(--second);
    cursor: pointer;
}

.small {
    margin: auto;
    height: 50px;
    width: 150px;
}

.form-login {
    justify-content: center;
    display: grid;
}

.see-translate {
    margin: 0px;
    height: 30px;
    width: 120px;
    font-size: 12px;
    color: var(--first);
    border-radius: 4px;
}

.input-answer {
    background-color: var(--second);
    border: 0px solid transparent;
    height: 40px;
    width: 300px;
    border-radius: 4px;
    font-size: 25px;
    text-align: center;
    color: var(--first);
}

.input-answer:focus {
  outline: 0px
}

.input-login {
    background-color: var(--second);
    border: 0px solid transparent;
    height: 40px;
    width: 300px;
    border-radius: 4px;
    font-size: 25px;
    margin: auto;
    justify-content: center;
    display: grid;
}

.input-login:focus {
  outline: 0px;
}

.center-text {
    justify-content: center;
    display: flex;
}

table {
    justify-content: center;
    display: flex;
}

.table-home {
    margin: auto;
    margin-bottom: 60px;
}

.table-home-tr {
    background-color: var(--second);
    color: var(--first);
    margin: 0;
}

.table-home-th {
    text-align: center;
    margin: 0;
    width: 200px;
}

.table-home-td {
    text-align: center;
    margin: 0;
}

nav {
    background-color: var(--fourth);
    justify-content: center;
    display: flex;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
    justify-content: right;
    display: flex;
    align-items: center;
}

nav li {
    display: inline-block;
}

nav a {
    color: var(--second);
    text-decoration: none;
    padding: 15px;
    display: block;
}

nav a:hover {
    background-color: #111;
}

.progress-bar {
    width: 180px;
    /* or any other value */
    height: 13px;
    background-color: var(--second);
    border-radius: 6px;
    margin: auto;
}

.progress-value {
    width: 20px;
    height: 13px;
    background-color: #307033;
    border-radius: 6px;
}

.link {
    color: var(--third);
    text-decoration: none;
}

.link:hover {
    color: var(--second);
}

.btn-text {
    border: none;
    background-color: inherit;
    font-size: 20px;
    padding: 2px 2px;
    cursor: pointer;
    display: inline-block;
    color: var(--second);
    border-radius: 3px;
}

.btn-text:hover {
    background: var(--second);
    color: var(--first);
}

/* Mobile-specific styles */
@media only screen and (max-width: 990px) {
    body {
        font-size: 30px;
    }

    .container {
        justify-content: center;
        max-width: 90%;
        margin: auto;
    }

    .grid-container-home {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-item-home {
        border: 0px solid black;
        text-align: center;
        display: inherit;
        align-items: center;
        justify-content: center;
        height: 700px;
    }

    .button-custom {

        font-size: 40px;
        height: 200px;
        width: 800px;
        border-radius: 13px;
    }

    .button-custom:active {
        background-color: var(--second);
    }

    .button-custom:hover {
        background-color: var(--third);
    }

    .small {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        height: 130px;
        width: 400px;
    }

    .see-translate {
        height: 80px;
        width: 380px;
        font-size: 30px;
    }

    .input-answer {
        height: 100px;
        width: 800px;
        border-radius: 13px;
        font-size: 40px;
    }

    .grid-container-stories {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-item-stories {
        border: 0px solid black;
        text-align: center;
        display: inherit;
        align-items: center;
        justify-content: center;
        height: 500px;
    }

    .grid-container-learning {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-item-learning {
        border: 0px solid black;
        text-align: center;
        display: flex;
        justify-content: center;
        height: 180px;
    }

    .img-story {
        height: 400px;
        width: 700px;
        border-radius: 20px;
    }

    .input-login {
        font-size: 50px;
        height: 100px;
        width: 600px;
        border-radius: 13px;
    }

    .btn-text {
        border: none;
        background-color: inherit;
        padding: 2px 2px;
        font-size: 60px;
        cursor: pointer;
        display: inline-block;
        color: var(--second);
        border-radius: 3px;
        margin: 0px;
    }
    .progress-bar {
        width: 400px;
        height: 25px;
        border-radius: 15px;
}

    .progress-value {
        height: 25px;
        border-radius: 15px;
    }

    .table {
        width: 180px;
        height: 15px;
        border-radius: 8px;
}

    .table {
        height: 15px;
        border-radius: 8px;
}

    nav {
        height: 100px;
    }

    nav ul {
        width: 90%;
    }
    nav li{
        font-size: 40px;
        margin: 10px;
    }

    .storyname {
        font-size: 45px;
}
}
